<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/E-book.css">
</head>
<body>
    
    <style>
        .album-container{
            width: 80%;
            margin: auto;
            text-align: center;
        }
        body{
            background-color: rgba(0, 0,0, 0.6);
            overflow: hidden;
        }
        #album{
            margin: 5% auto;
            
            transition: all .3s;
            
        }
        #album div{
            background-repeat: no-repeat;
            background-size: 100% 100% ;
        }
    </style>

    <div class="album-container">
        <div id="album">
            <div style="background-image:url(../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif);"></div> 
            <div style="background-image:url(../assets/imgs/09e3e791-ec82-48a1-a7d1-9ede162e9041.jfif);"></div> 
            <div style="background-image:url(../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif);"></div> 
            <div style="background-image:url(../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif);"></div> 
            <div style="background-image:url(../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif);"></div> 
     
         </div>
     
    </div>
<button>button</button>



    <script src="../assets/js/jquery/jquery-3.5.1.js"></script>
    <script src="../assets/js/lib/turn.min.js" ></script>
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="../assets/js/E-book.js"></script>
</body>
</html>