<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
    <div class="container">
            <div class="form-container row m-0">
                <div class="col-lg-6 col-md-6 col-0 second-div">
                    <div class="logo">
                        <img src="../assets/imgs/logo.png" alt="">
                    </div>
                </div>
                <div class="first-div col-lg-6 col-md-6 col-12">
                    <form action="" class="">
                        <h3>Register</h3>
                        <div class="input-group">
                            <label for="username">UserName</label>
                            <input type="text" name="username" id="">
                        </div>
                        <div class="input-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="">
                        </div>
                        <div class="input-group">
                            <label for="Password">Password</label>
                            <input type="password" name="password" id="">
                        </div>
                        <div class="input-group">
                            <label for="number">Phone Number</label>
                            <input type="tel" pattern="(01)[0-9]{9}" name="number" id="">
                        </div>
                        <button type="submit"  class="continue">Register</button>
                    </form>
                </div>
                <div class="second-div col-lg-6 col-md-6 col-12 ">
                    <div class="logo">
                        <img src="../assets/imgs/logo.png" alt="">
                    </div>
                    <div class="form-header">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus consectetur nostrum
                        laboriosam adipisci fugiat dolores molestiae quo quas et cumque. Blanditiis hic sit nostrum quod
                        dolorem autem nihil sint odio.
                    </div>
                </div>
            </div>
    </div>









    <script src="../assets/js/jquery/jquery-3.5.1.js"></script>
    <script src="../assets/js/register.js"></script>
</body>
</html>