<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
    <link rel="icon" href="../images/1585429497-61E6k8.png">
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fontawesome-free-5.15.2-web/css/all.css">
    <link rel="stylesheet" href="../assets/css/flickty/flickity-docs.css">
    <link rel="stylesheet" href="../assets/css/shared.css">
    <link rel="stylesheet" href="../assets/css/viewbasket.css">
</head>

<body>
    <div class="container-fluid">
        <!-- 
        art board section
     -->
        <!-- 
         top nav
      -->


        <!-- 
          header section
       -->
        <div class="header-div">
            <form class="search-container">
                <input type="text" name="" id="">
                <input type="submit" value="Search">
            </form>
            <div class="container">
                <div class="row">
                    <div class=" col-3 nav-btn">
                        <div class="big">
                            <div class="small"></div>
                            <div class="small"></div>
                            <div class="small"></div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-4 logo">
                        <img src="../assets/imgs/logo.png" alt="">
                    </div>
                    <div class="col-6 sections-container">
                        <nav>
                            <ul class="nav-container">
                                <li class="nav-links">
                                    <a class="main-link" href="home.html">Home</a>
                                </li>
                                <li class="nav-links">
                                    <a class="main-link" href="mainpage.html">All Categories</a>
                                    <div class="categories-menu">
                                        <div class="row categories-container">
                                            <div class="col-3">
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">New</a>
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Bestselers</a>
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">ELT</a>
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Sale</a>

                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Fiction</a>
                                                <a class="categories-item " href="sup-category.html">Mini Vintages</a>
                                                <a class="categories-item " href="sup-category.html">Vintage
                                                    Classics</a>
                                                <a class="categories-item " href="sup-category.html">Horror</a>
                                                <a class="categories-item " href="sup-category.html">Thriller</a>
                                                <a class="categories-item " href="sup-category.html">Romance</a>
                                                <a class="categories-item " href="sup-category.html">Crime &
                                                    Detective</a>
                                                <a class="categories-item " href="sup-category.html">Modern &
                                                    contemporary fiction</a>
                                                <a class="categories-item " href="sup-category.html">Fantasy</a>
                                                <a class="categories-item " href="sup-category.html">Harry Potter</a>
                                                <a class="categories-item " href="sup-category.html">Adventure</a>
                                                <a class="categories-item " href="sup-category.html">Science Fiction</a>
                                                <a class="categories-item " href="sup-category.html">History</a>
                                                <a class="categories-item " href="sup-category.html">Finance & Law</a>
                                                <a class="categories-item " href="sup-category.html">Politics</a>
                                                <a class="categories-item " href="sup-category.html">Sherlock Holmes</a>
                                                <a class="categories-item " href="sup-category.html">Classics</a>
                                                <a class="categories-item " href="sup-category.html">Poetry, Drama &
                                                    Literary Criticism</a>
                                                <a class="categories-item " href="sup-category.html">Game of Thrones</a>
                                                <a class="categories-item " href="sup-category.html">Collector's
                                                    Library</a>
                                                <a class="categories-item " href="sup-category.html">Hogwarts House
                                                    Edition</a>
                                                <a class="categories-item " href="sup-category.html">Graphic Novels &
                                                    Manga</a>

                                            </div>
                                            <div class="col-3">
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Non-Fiction</a>
                                                <a class="categories-item " href="sup-category.html">Science, Technology
                                                    & Medicine</a>
                                                <a class="categories-item " href="sup-category.html">History</a>
                                                <a class="categories-item " href="sup-category.html">Finance & Law</a>
                                                <a class="categories-item " href="sup-category.html">Little Black
                                                    Classics</a>
                                                <a class="categories-item " href="sup-category.html">Humour collections
                                                    & anthologies</a>
                                                <a class="categories-item " href="sup-category.html">Hobbies, quiz books
                                                    & games</a>
                                                <a class="categories-item " href="sup-category.html">Health &
                                                    Lifestyle</a>
                                                <a class="categories-item " href="sup-category.html">Bussiness & Bio</a>
                                                <a class="categories-item " href="sup-category.html">Assertiveness,
                                                    motivation & self-esteem</a>
                                                <a class="categories-item " href="sup-category.html">Politics</a>
                                                <a class="categories-item " href="sup-category.html">Other</a>
                                                <a class="categories-item " href="sup-category.html">Computing &
                                                    Internet</a>
                                                <a class="categories-item " href="sup-category.html">Philosophy</a>
                                                <a class="categories-item " href="sup-category.html">Food & Drink </a>
                                                <a class="categories-item " href="sup-category.html">Language, Body and
                                                    Spirit</a>
                                                <a class="categories-item " href="sup-category.html">True Stories &
                                                    WWII</a>
                                                <a class="categories-item " href="sup-category.html">Language &
                                                    Reference</a>

                                            </div>
                                            <div class="col-3">
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Children's</a>
                                                <a class="categories-item " href="sup-category.html">Teenage</a>
                                                <a class="categories-item " href="sup-category.html">5 to 8</a>
                                                <a class="categories-item " href="sup-category.html">9 to 12</a>
                                                <a class="categories-item " href="sup-category.html">Baby & Toddler</a>
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Gifts & Accessories</a>
                                                <a class="categories-item " href="sup-category.html">Harry Potter</a>
                                                <a class="categories-item " href="sup-category.html">Game of Thrones</a>
                                                <a class="categories-item " href="sup-category.html">Notebook</a>
                                                <a class="categories-item " href="sup-category.html">Umbrellas</a>
                                                <a class="categories-item " href="sup-category.html">Bookmark</a>
                                                <a class="categories-item " href="sup-category.html">Sticker</a>
                                                <a class="categories-item " href="sup-category.html">Pin</a>
                                                <a class="categories-item " href="sup-category.html">Poster</a>
                                                <a class="categories-item " href="sup-category.html">Bags</a>
                                                <a class="categories-item " href="sup-category.html">Hoodies</a>
                                                <a class="categories-item " href="sup-category.html">T-shirts</a>
                                                <a class="categories-item " href="sup-category.html">Mugs</a>
                                                <a class="categories-item " href="sup-category.html">Tea and Coffee</a>
                                                <a class="categories-item " href="sup-category.html">Sherlock Holmes</a>
                                                <a class="categories-item " href="sup-category.html">Pens & Pencils</a>
                                            </div>
                                            <div class="col-3">
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Other Publishers</a>
                                                <a class="categories-item " href="sup-category.html">Pearson
                                                    Education</a>
                                                <a class="categories-item " href="sup-category.html">CGP Books</a>
                                                <a class="categories-item categories-header"
                                                    href="main-cateagory.html">Kogan Page Ltd</a>
                                                <a class="categories-item " href="sup-category.html">Information Age
                                                    Publishing</a>
                                                <a class="categories-item " href="sup-category.html"> Cerebellum
                                                    Press</a>
                                                <a class="categories-item " href="sup-category.html">Scholastic</a>
                                                <a class="categories-item " href="sup-category.html">Taylor & Francis
                                                    Ltd</a>
                                                <a class="categories-item " href="sup-category.html">Hodder
                                                    Education</a>
                                                <a class="categories-item " href="sup-category.html">Bloomsbury
                                                    Publishing PLC</a>
                                                <a class="categories-item " href="sup-category.html">John Wiley & Sons
                                                    Inc</a>
                                                <a class="categories-item " href="sup-category.html">Electronics</a>
                                                <a class="categories-item " href="sup-category.html">Wiley</a>
                                                <a class="categories-item " href="sup-category.html">Palgrave
                                                    MacMillan</a>
                                                <a class="categories-item " href="sup-category.html">Welbeck Publishing
                                                    Group</a>
                                                <a class="categories-item " href="sup-category.html">IBID Press</a>
                                                <a class="categories-item " href="sup-category.html">GLOBAL ELT</a>
                                                <a class="categories-item " href="sup-category.html">Cornelsen Verlag
                                                    GmbH</a>
                                                <a class="categories-item " href="sup-category.html">Garnet Publishing
                                                    Ltd</a>
                                                <a class="categories-item " href="sup-category.html">Ib Publishing
                                                    Ltd</a>
                                                <a class="categories-item " href="sup-category.html">Rising Stars UK
                                                    Ltd</a>
                                                <a class="categories-item " href="sup-category.html">Springer Nature</a>
                                                <a class="categories-item " href="sup-category.html">International
                                                    Curricula</a>
                                                <a class="categories-item " href="sup-category.html">Other</a>
                                                <a class="categories-item " href="sup-category.html">Adult</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-links">
                                    <a class="main-link" href="#">About Us</a>
                                    <div class="about-menu">
                                        <div class="row about-container">
                                            <div class="col-3"> <a href="#" class="about-link">About Us</a> </div>
                                            <div class="col-3"> <a href="#" class="about-link">Alexandria Publishing
                                                    Career</a>
                                            </div>
                                            <div class="col-3"> <a href="#" class="about-link">Terms and Conditions</a>
                                            </div>
                                            <div class="col-3"> <a href="#" class="about-link">Corporate Conditions</a>
                                            </div>
                                            <div class="col-3"> <a href="#" class="about-link">Delivery timelines</a>
                                            </div>
                                            <div class="col-3"> <a href="#" class="about-link">Return Policy</a> </div>
                                            <div class="col-3"> <a href="#" class="about-link">Privacy Policy</a> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-links position-relative">
                                    <a class="main-link" href="#">Help</a>
                                    <div class="help-menu">
                                        <div class="row help-container">
                                            <div class="col-12">
                                                <a href="#" class="help-link">Help Center</a>
                                            </div>
                                            <div class="col-12">
                                                <a href="#" class="help-link">FAQS</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-4 buttons">
                        <ul>
                            <li>
                                <i class="fa fa-search search-btn"></i>
                            </li>

                            <li>
                                <i class="fa fa-sign-in-alt"></i>
                            </li>

                            <li>
                                <div class="noti">
                                    0
                                </div>
                                <i class="far fa-heart likes"></i>
                            </li>
                            <div class="likes-div">
                                <div class="likes-header">
                                    Total <span>12EGP</span>
                                </div>
                                <div class="likes-item">
                                    <a href="book-details.html" class="item row m-0">
                                        <div class="col-6 p-1">
                                            <div class="item-img">
                                                <img src="../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="col-6 p-1">
                                            <div class="item-details">
                                                <p class="item-name">sadasdsad</p>
                                                <p class="item-price">16EGP</p>
                                                <p class="item-show-type">PDF</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="book-details.html" class="item row m-0">
                                        <div class="col-6 p-1">
                                            <div class="item-img">
                                                <img src="../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="col-6 p-1">
                                            <div class="item-details">
                                                <p class="item-name">sadasdsad</p>
                                                <p class="item-price">16EGP</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="likes-footer">
                                    <a href="" class="view-basket">
                                        View WishList
                                    </a>
                                    <a href="" class="checkout">
                                        Checkout
                                    </a>
                                </div>
                            </div>
                            <li>
                                <div class="noti">
                                    1
                                </div>
                                <i class="fa fa-shopping-bag shoppings"></i>
                            </li>
                            <div class="shopping-div">
                                <div class="shopping-header">
                                    Total <span>12EGP</span>
                                </div>
                                <div class="shopping-item">
                                    <a href="book-details.html" class="item row m-0">
                                        <div class="col-6 p-1">
                                            <div class="item-img">
                                                <img src="../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="col-6 p-1">
                                            <div class="item-details">
                                                <p class="item-name">sadasdsad</p>
                                                <p class="item-price">16EGP</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="book-details.html" class="item row m-0">
                                        <div class="col-6 p-1">
                                            <div class="item-img">
                                                <img src="../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="col-6 p-1">
                                            <div class="item-details">
                                                <p class="item-name">sadasdsad</p>
                                                <p class="item-price">16EGP</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="shopping-footer">
                                    <a href="" class="view-basket">
                                        View Basket
                                    </a>
                                    <a href="" class="checkout">
                                        Checkout
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
            
            content section
        
        -->

        <div class="content">
            <!-- 
                slider section
             -->
            <div class="row w-100 m-0 p-2">
                <div class=" col-12 m-auto card p-0">
                    <div class="card-header">
                        <h3>Basket</h3>
                    </div>
                    <div class="card-body row m-0">
                        <div class=" col-12 basket-item row m-0">
                            <a href="" class=" book-link col-xl-4 col-lg-4 col-md-6 col-12 d-flex p-0">
                                <img src="../assets/imgs/b11018a6-4713-4a33-8697-ccd8009f8b06.jfif" alt="">
                                <p class="book-title">Book Title</p>
                            </a>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-12 details">
                                <p class="page-num">Pages Number :<span>0-50</span></p>
                                <p class="book-cd">CD : <span>Available</span></p>
                                <div class="buttons">
                                    <form action="">
                                    <label for="pdf-btn" class="pdf-btn">PDF Copy <span>20.12EGP</span> <input type="radio"
                                            style="display: none;" name="type-btn" id=""> </label>
                                    <label for="hard-btn" class="Hard-btn">Hard Copy <span>20.12EGP</span> <input type="radio"
                                            style="display: none;" name="type-btn" id=""></label>
                                        </form>
                                        </div>
                                <div class="hard-options">
                                    <div class="cover">
                                        <select name="" id="">
                                            <option value="">Soft Cover</option>
                                            <option value="">Hard Cover</option>
                                        </select>
                                    </div>
                                    <div class="colors">
                                        <select name="" id="">
                                            <option value="">red</option>
                                            <option value="">Blue</option>
                                            <option value="">Black</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-12 quantity">
                                <input type="number" min="1" name="" id="">
                                <button class="add">Add</button>
                                <div class="price">
                                    20.21EGP
                                </div>
                                <button class="cancel">Remove</button>
                            </div>  
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <a href="">CheckOut</a>
                    </div>
                </div>
            </div>
            <!-- 

                sevices section

             -->
            <div class="row services-div">
                <a href="#" class="row col-xl-3 col-lg-3 col-md-6 col-12">
                    <div class="col-2">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="col-10">
                        <p>Free Shipping</p>
                        <span>Free shipping on oder over EGP 100</span>
                    </div>
                </a>
                <a href="#" class="row col-xl-3 col-lg-3 col-md-6 col-12">
                    <div class="col-2">
                        <i class="fa fa-headset"></i>
                    </div>
                    <div class="col-10">
                        <p>Online Support</p>
                        <span>We Have Support 24 Hours</span>
                    </div>
                </a>
                <a href="#" class="row col-xl-3 col-lg-3 col-md-6 col-12">
                    <div class="col-2">
                        <i class="fa fa-money-bill-alt"></i>
                    </div>
                    <div class="col-10">
                        <p>Payment On Delviery</p>
                        <span>Cash On Delviery Option</span>
                    </div>
                </a>
                <a href="#" class="row col-xl-3 col-lg-3 col-md-6 col-12">
                    <div class="col-2">
                        <i class="fa fa-shield-alt"></i>
                    </div>
                    <div class="col-10">
                        <p>Secure Payment</p>
                        <span>We Value Your Security</span>
                    </div>
                </a>
            </div>
            <!-- 
                 footer section
              -->
            <div class="footer-div">
                <div class="row">
                    <div class=" col-lg-5 col-md-6 col-12">
                        <div class="subscribe">
                            <p>Subscribe to our newsletter and get 10% off your first purchase</p>
                            <div class="subscribe-container row">
                                <input type="text" class="col-auto" placeholder="Your Email Address..." name="" id="">
                                <button class="sub-btn col-auto">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 h" style="padding: 20px 15px;">
                        <div class="logo">
                            <img src="../assets/imgs/logo.png" alt="">
                        </div>
                        <div>
                            <a href="tel:01220016316"> <i class="fa fa-phone fa-flip-horizontal	"></i> 01220016316</a>
                        </div>
                        <div>
                            <a href="mailto:abdonabil713@gmail.com"><i
                                    class="fa fa-envelope"></i>Matgeronline@gmail.com</a>
                        </div>
                        <div class="social">
                            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-pinterest"></i> </a>
                            <a href="#"> <i class="fab fa-linkedin-in"></i> </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" style="padding: 20px 15px;">
                        <p class="categories-header" href="mainpage.html">All Categories</p>
                        <a class="categories-item" href="sup-category.html">Home</a>
                        <a class="categories-item" href="sup-category.html">Health&Personal Care</a>
                        <a class="categories-item" href="sup-category.html">Mom&Baby</a>
                        <a class="categories-item" href="sup-category.html">Office&School</a>
                        <a class="categories-item" href="sup-category.html">Security&Protection</a>
                        <a class="categories-item" href="sup-category.html">Beauty&Style</a>
                        <a class="categories-item" href="sup-category.html">Vehicles</a>
                        <a class="categories-item" href="sup-category.html">Sport</a>
                        <a class="categories-item" href="sup-category.html">Electronics</a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" style="padding: 20px 15px;">
                        <p class="categories-header" href="main-cateagory.html">About AlMutjar</p>
                        <a class="categories-item" href="sup-category.html">About Us</a>
                        <a class="categories-item" href="sup-category.html">AlMutjar Career</a>
                        <a class="categories-item" href="sup-category.html">Terms and Conditions</a>
                        <a class="categories-item" href="sup-category.html"> Corporate Conditions </a>
                        <a class="categories-item" href="sup-category.html"> Delviery Timelines </a>
                        <a class="categories-item" href="sup-category.html"> Return Policy </a>
                        <a class="categories-item" href="sup-category.html"> Privacy Policy </a>

                    </div>
                    <div class="col-lg-3 col-md-6 col-12" style="padding: 20px 15px;">
                        <p class="categories-header" href="main-cateagory.html">Help</p>
                        <a class="categories-item" href="sup-category.html">Help Center</a>
                        <a class="categories-item" href="sup-category.html">FAQS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot">
            <p>Almutjar © 2020 - 2021. All Rights Reserved.</p>
        </div>
    </div>
    <script src="../assets/js/jquery/jquery-3.5.1.js"></script>
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="../assets/js/flickty/flickity-docs.min.js"></script>
    <script src="../assets/js/shared.js"></script>
    <script src="../assets/js/viewbasket.js"></script>
</body>

</html>